openai
pypdf
google-api-python-client
weasyprint>=63.0
uvicorn
structlog
python-dotenv
sqlalchemy>=2.0.0
psycopg2-binary
flask
tomli
gunicorn
flask-login
flask-wtf
google-cloud-tasks
google-auth
pytest
pytest-flask
google-cloud-storage
